i {
    padding: 15px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bi {
    font-size: 70px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.orange {
    color: orange;
}